* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(255, 252, 249);
    background: radial-gradient(
        circle,
        rgba(255, 252, 249, 1) 60%,
        rgba(233, 238, 231, 1) 100%
    );
    overflow: hidden;
}

.container {
    width: 90%;
    margin: 0 auto;
}


@media (max-width: 1110px) {
    body {
        overflow-y: scroll;
    }
}
